<!DOCTYPE html>
<html lang="en" class="no-js">
  <!-- Head -->
  <head>
    <title>ISCode - Em breve!</title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="Bootstrap Theme, Freebies, UI Kit, MIT license">
    <meta name="description" content="IS Code - Estamos chegando em breve!">
    <meta name="Edvaldo Silva" content="edvaldosilva.tech">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Bootstrap Styles -->
    <link rel="stylesheet" type="text/css" href="assets/vendors/bootstrap/css/bootstrap.min.css">

    <!-- Components Vendor Styles -->
    <link rel="stylesheet" type="text/css" href="assets/vendors/font-awesome/css/fontawesome-all.min.css">

    <!-- Theme Styles -->
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
  </head>
  <!-- End Head -->

  <body>
    <!-- Header Section -->
    <header class="js-parallax u-promo-block u-promo-block--mheight-600 u-overlay u-overlay--dark py-0" style="background-image: url(assets/img-temp/img1.jpg);">
      <nav class="navbar navbar-expand-sm navbar-dark u-overlay__inner py-3">
        <div class="container">
          <a  class="navbar-brand" href="#index">
            <img  src="assets/img/logo-white.png" alt="Stream UI Kit" style="width: 130px;">
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo05" aria-controls="navbarTogglerDemo05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo05">
            <ul class="navbar-nav ml-auto mt-1 mt-lg-0">
              <li class="nav-item active mx-2">
                <a class="nav-link" href="#!">
                  <i class="fas fa-phone-square mr-1"></i> +55 71 99732-5544
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Promo Content -->
      <section class="u-content-space u-overlay__inner text-white text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <header class="mb-8">
                <h1 class="display-5 display-sm-4 font-weight-normal mb-4">Em Breve!</h1>
                <p class="lead">Atualmente, estamos trabalhando em nossa infraestrutura para oferecer serviços e tecnologia de qualidade, inscreva-se abaixo para manter atualizado. </p>
              </header>

              <div class="js-timer u-timer"></div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Promo Content -->
    </header>
    <!-- End Header Section -->

    <main role="main" style="background-image: url();">
      <!-- Facts About Launch -->
      <section class="text-center u-content-space pb-0">
        <div class="container">
          <header class="w-md-50 mx-auto mb-8">
            <h2 class="h1 font-weight-light mb-3"> 
              Serviços 
              </h2>
            <p class="lead">Esta chegando soluções para potencializar seu resultado, melhorar o atendimento com seus clientes e muito mais.</p>
          </header>

          <!-- Row -->
          <div class="row mb-9">
            <div class="col-lg-4 mb-6 mb-lg-0">
              <div class="display-4 my-primary mb-2">
                <!-- <i class="fab fa-grav"></i> -->
                <i class="fas fa-mobile"></i>
              </div>
              <h4 class="font-weight-light">Creative Ideas</h4>
              <p class="mb-0">Achieve virtually any look and layout design within one UI Kit solution.</p>
            </div>

            <div class="col-lg-4 mb-6 mb-lg-0">
              <div class="display-4 my-primary mb-2">
                <!-- <i class="fab fa-connectdevelop"></i> -->
                <i class="fas fa-chart-line"></i>
              </div>
              <h4 class="font-weight-light">Powerful APIs</h4>
              <p class="mb-0">We strive to figure out ways to help your audience grow through all platforms.</p>
            </div>

            <div class="col-lg-4 mb-6 mb-lg-0">
              <div class="display-4 my-primary mb-2">
                <i class="far fa-comments"></i>
              </div>
              <h4 class="font-weight-light">Blockchain Based</h4>
              <p class="mb-0">Find what you need in one template and combine features at will.</p>
            </div>
          </div>
          <!-- End Row -->

          <img class="img-fluid mx-auto" src="assets/img-temp" alt="">
        </div>
      </section>
      <!-- End Facts About Launch -->
    </main>

    <!-- Footer -->
    <footer class="text-center u-overlay u-overlay--dark u-hero-img text-white" style="background-image: url(assets/img-temp/img3.jpg); background-position: 50% 65%;">
      <div class="container u-overlay__inner u-content-space-top pb-6">
        <header class="w-md-50 mx-auto mb-5">
          <h2 class="font-weight-light">Subscribe for Beta and be the first to try our Web Application!</h2>
        </header>

        <div class="row">
          <!-- Subscribe Form -->
          <div class="col-md-6 mx-md-auto">
            <form class="mb-9" method="post" action="/contatos/salvar" >
              <div class="input-group mb-3">
                <input type="text" name="email" class="form-control py-3" placeholder="Seu email" aria-label="Your email" aria-describedby="basic-addon2">
                <div class="input-group-append my-bg-color">
                  <button class="btn btn-primary py-3" type="submit">Inscreva-se</button>
                </div>
              </div>
            </form>
          </div>
          <!-- End Subscribe Form -->

          <!-- Copyright and Social Icons -->
          <div class="col-12">
            <ul class="list-inline h3 mb-2">
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                <a class="text-white" href="https://www.facebook.com/htmlstream/">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                <a class="text-white" href="https://dribbble.com/htmlstream">
                  <i class="fab fa-dribbble"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <a class="text-white" href="https://twitter.com/htmlstream">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Github">
                <a class="text-white" href="https://github.com/htmlstreamofficial">
                  <i class="fab fa-github"></i>
                </a>
              </li>
            </ul>
            <p class="small mb-0">2019 &copy; Desenvolvido por<a class="text-white" href="https://edvaldosilva.tech/"> Edvaldo Silva</a> and licensed under MIT for better web!</p>
          </div>
          <!-- End Copyright and Social Icons -->
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) -->
    <!-- Global Vendor -->
    <script src="assets/vendors/jquery.min.js"></script>
    <script src="assets/vendors/jquery.migrate.min.js"></script>
    <script src="assets/vendors/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.min.js"></script>

    <!-- Components Vendor  -->
    <script src="assets/vendors/jquery.countdown/jquery.countdown.min.js"></script>
    <script src="assets/vendors/jquery.parallax.js"></script>

    <!-- Theme Settings and Calls -->
    <script src="assets/js/global.js"></script>

    <!-- Theme Components and Settings -->
    <script src="assets/js/vendors/jquery.countdown.js"></script>
    <script src="assets/js/vendors/parallax.js"></script>
    <!-- END JAVASCRIPTS -->
  </body>
  <!-- End Body -->
</html>